@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
}


header {
    color: #fff;
    background-color: #5CE1E6 ;
    display: flex;
    justify-content: space-between;
    height: 75px;
}
#logo h3 {
    margin: 27px 0 0 50px
}
div#entrar_cadastro {
    color: #fff;
    background-color: #0097B2;
    width: 80px;
    height: 30px;
    border-radius: 12px;
    margin: 22px 15px 0 0;
    line-height: 30px;
}

#entrar_cadastro h4 {
    margin-left: 6px;
}

section#pesq_menu {
    margin: 20px 50px ;
    text-align: center;
    font-size: 16pt;
}

#pesq_menu form {
    margin-top: 15px;
}

#pesq_menu form > input {
    border-radius: 20px;
    border: none;
    outline: none;
    height: 35px;
}

input#search {
    background-color: #BCBCBB;
    width: 178px;
}

input#lupa {
    background-color: #0097B2;
    border-radius: 100%;
    color: #fff;
}

#anuncios img {
    margin-left: 15px;
}

#plano h2 {
    color: #247E89;
    margin: 20px 50px;
}

#plano p {
    margin: 15px 30px;
}
