@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


header {
    color: #fff;
    background-color: #5CE1E6 ;
    display: flex;
    justify-content: space-between;
    height: 75px;
}
#logo h3 {
    margin: 27px 0 0 50px
}
div#entrar_cadastro {
    color: #fff;
    background-color: #0097B2;
    width: 80px;
    height: 30px;
    border-radius: 12px;
    margin: 22px 15px 0 0;
    line-height: 30px;
}
div#entrar_cadastro:hover {
    background-color: rgba(51, 51, 51, 0.479);
}

#entrar_cadastro h4, a {
    margin-left: 4px;
    color: white;
}

#icon {
    z-index: 1;
}

#icon img {
    margin: 10px 5px ;
}

/* MENU DE MÉDICOS*/

#menu_medicos {
    display: none;
    position: absolute;
    margin: -15px 0 0 0;

}

#menu_medicos ul {
    background-color: #E4E4E4;
    width: 150%;
}

#menu_medicos ul > li {
    text-align: center;
}

#menu_medicos ul > li > a {
    color: #545454;
    line-height: 30px;
    
}

#menu_medicos ul > h2 {
    color: #00B685;
    text-align: center;
    margin-bottom: 10px;
}

/*FIM MENU DE MÉDICOS*/
section#pesq_menu2 {
    margin: 20px 50px ;
    text-align: center;
    font-size: 16pt;
}

#pesq_menu2 form {
    margin-top: 15px;
}

#pesq_menu2 form > input {
    border-radius: 20px;
    border: none;
    outline: none;
    height: 35px;
}


#pesq_menu {
    display: none;
}

input#search {
    background-color: #BCBCBB;
    width: 178px;
}

input#lupa {
    background-color: #0097B2;
    border-radius: 100%;
    color: #fff;
    cursor: pointer;
}

input#lupa:hover {
    background-color: rgba(51, 51, 51, 0.479);
}

#anuncios img {
    margin: 1px 0 0 28px;
}

#anuncios #img_tablet {
    display: none;
}

#plano h2 {
    color: #247E89;
    margin: 40px 35px;
}

#plano p {
    margin: 5px 35px;
}

/*TABLET*/

@media (min-width: 426px) and (max-width: 768px) {

    section#pesq_menu {
        display: none;
    }

    #menu_medicos {
        margin: 10px 0 30px 0;
    }

    #anuncios img {
        display: none;
    }

    #anuncios #img_tablet {
        display: block;
        margin: 1px 0 0 20px;
    }
    
    #pesq_menu {
        display: block;
        margin: 5px 0 0 -40px;
    }

    #pesq_menu #search {
        background-color: #fff;
    }
   
}