@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


header {
    color: #fff;
    background-color: #5CE1E6 ;
    display: flex;
    justify-content: space-between;
    height: 75px;
}
#logo h3 {
    margin: 27px 0 0 50px
}
div#entrar_cadastro {
    color: #fff;
    background-color: #0097B2;
    width: 80px;
    height: 30px;
    border-radius: 12px;
    margin: 22px 15px 0 0;
    line-height: 30px;
}
div#entrar_cadastro:hover {
    background-color: rgba(51, 51, 51, 0.479);
}

#entrar_cadastro h4, a {
    margin-left: 4px;
    color: white;
}

#icon {
    z-index: 1;
}

#icon img {
    margin: 10px 5px ;
}

/* MENU DE MÉDICOS*/

#menu_medicos {
    display: none;
    position: absolute;
    margin: -15px 0 0 0;
}
#menu_medicos ul {
    background-color: #bbbbbb;
    width: 150%;
}
#menu_medicos ul > li {
    text-align: center;
}

#menu_medicos ul > li:hover {
    background-color: rgb(238, 238, 238);
}

#menu_medicos ul > li > a {
    color: #4b4848;
    line-height: 30px; 
}
#menu_medicos ul > h2 {
    color: #00B685;
    text-align: center;
    margin-bottom: 15px;
}

/*FIM MENU DE MÉDICOS*/
section#pesq_menu2 {
    margin: 20px 50px ;
    text-align: center;
    font-size: 16pt;
}

#pesq_menu2  h1 {
    margin-bottom: 20px;
}

#pesq_menu2 form {
    margin: auto;
    margin-left: 50px;
    display: flex;
}

#pesq_menu2 form > input {
    border-radius: 20px;
    border: none;
    outline: none;
    height: 35px;
    text-indent: 10px; 
}

#pesq_menu {
    display: none;
}

input#search {
    background-color: #BCBCBB;
    width: 178px;
}

button#lupa {
    background:  #0097B2 url(imgs/icons8-pesquisar-24.png) no-repeat center center;
    border-radius: 100%;
    color: #fff;
    cursor: pointer;
    content: none;
    width: 40px;
    height: 40px;
    border: none;
}

button#lupa:hover {
    background-color: rgba(51, 51, 51, 0.479);
}

#anuncios img {
    margin: 1px 0 0 28px;
}

#anuncios #img_tablet {
    display: none;
}
#anuncios #img_laptop {
    display: none;
}
#anuncios #img_pc {
    display: none;
}

#anuncios #img_pc2 {
    display: none;
}

#plano h2 {
    color: #247E89;
    margin: 40px 35px;
}

#plano p {
    margin: 5px 35px;
}

/*TABLET*/

@media (min-width: 500px) and (max-width: 768px) {

    section#pesq_menu {
        display: none;
    }

    #menu_medicos {
        margin: 10px 0 30px 0;
    }

    #anuncios img {
        display: none;
    }

    #anuncios #img_tablet {
        display: block;
        margin: 1px 0 0 20px;
    }
    
    #pesq_menu form {
        margin: auto;
        margin-left: 50px;
        display: flex;
        }

    #pesq_menu form > input {
        border-radius: 20px;
        border: none;
        outline: none;
        height: 35px;
        text-indent: 10px; 
    }

    #pesq_menu {
        display: none;
        margin: auto;
    }

    #pesq_menu2 form {
        margin: auto;
        margin-left: 230px;
        display: flex;
    }

    #menu_medicos {
        margin: -15px 0 0 0;
    }
    
    section#plano h2 {
        text-align: center;
}


}

@media (min-width: 770px) and (max-width: 1024px) {
    section#pesq_menu {
        display: none;
    }

    #menu_medicos {
        margin: 10px 0 30px 0;
    }

    #anuncios img {
        display: none;
    }

    #anuncios #img_laptop {
        display: block;
        margin: 2px 55px 0 20px;
    }
    
    #pesq_menu form {
        margin: auto;
        margin-left: 50px;
        display: flex;
        }

    #pesq_menu form > input {
        border-radius: 20px;
        border: none;
        outline: none;
        height: 35px;
        text-indent: 10px;
        
    }

    #pesq_menu {
        display: none;
        margin: auto;
    }

    #pesq_menu2 form {
        margin: auto;
        margin-left: 280px;
        display: flex;
    }
    
    #pesq_menu #search {
        background-color: #ffffff;
        width: 178px;
    }
   
    #pesq_menu2 #search {
        width: 358px;
    }
    #menu_medicos {
        margin: -15px 0 0 0;
    
}

    section#plano h2 {
    text-align: center;
}   
}

@media (min-width: 1025px) and (max-width: 1440px) {
    

    section#pesq_menu {
        display: none;
    }

    #menu_medicos {
        margin: 10px 0 30px 0;
    }

    #anuncios img {
        display: none;
    }


    #anuncios #img_pc {
        display: block;
        margin: 2px 55px 0 20px;
    }
    
    #pesq_menu form {
        margin: auto;
        margin-left: 50px;
        display: flex;
        }

    #pesq_menu form > input {
        border-radius: 20px;
        border: none;
        outline: none;
        height: 35px;
        text-indent: 10px;
        
    }


    #pesq_menu2 form {
        margin: auto;
        margin-left: 480px;
        display: flex;
    }
    
    #pesq_menu #search {
        background-color: #ffffff;
        width: 350px;
    }
   
    
    #pesq_menu2 #search {
        width: 350px;
    }
    #menu_medicos {
        margin: -15px 0 0 0;
    
}

    section#plano h2 {
    text-align: center;
    }
    section#plano p {
        text-align: center;
    }   
        

}

@media (min-width: 1440px) {
    #img_pc2 {
        display: block;
    }
}