@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
}


header {
    color: #fff;
    background-color: #5CE1E6 ;
    display: flex;
    justify-content: space-between;
    height: 55px;
}
#logo h3 {
    margin: 13px 0 0 50px
}
div#entrar_cadastro {
    color: #fff;
    background-color: #0097B2;
    width: 80px;
    height: 30px;
    border-radius: 12px;
    margin: 11px 15px 0 0;
    line-height: 30px;
}

#entrar_cadastro h4 {
    margin-left: 6px;
}